.hero {
  @include flex(center, center, column);
  min-height: 90vh;
  // background: var(--bg-color);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(00, 00, 00, 0.5)),
    url("../img/background-mountain.jpg");
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

.logo {
  max-height: 20vh;
  margin: 2rem;
  padding: 0.5rem;
  fill: none;

  @for $i from 1 to 5 {
    $path-length: 607.7011108398438, 332.5625305175781, 518.4546508789062,
      477.49139404296875;

    path:nth-child(#{$i}) {
      stroke-dasharray: nth($path-length, $i);
      stroke-dashoffset: nth($path-length, $i);
      stroke-width: 0.3rem;
      stroke: white;
      animation: drawText 2s #{$i * 0.5}s forwards, fillText 2s 5s forwards;
    }
  }
}

.contact-me {
  margin: 3rem;
  height: 5.5rem;
  width: calc(15rem + 1vw);
  border: 1px solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  span a {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
  i {
    flex-grow: 1;
    margin: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 2s;
    background: white;
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.02}s;
      }
    }
  }

  &:hover {
    a {
      color: black;
    }
    i {
      transform: scaleX(1);
    }
  }
}

.type-writer {
  border-right: 2px solid;
  padding-right: 0.3rem;
  animation: type 0.75s step-end infinite;
}

// Keyframes LOGO
@keyframes drawText {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillText {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

//keyframes TYPE
@keyframes type {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--orange-color);
  }
}
